/* faq section ======================================================================= */
#faqSection {
    padding: 0 200px;
    /* width: 100vw; */
    /* background-color: #001566; */
    padding-bottom: 80px;
}

#faqTitle {
    color: var(--textColor);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 75px;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 50px;
}

.questionBox {
    /* width: 100%; */
    /* margin-left: 10%; */
    border-radius: 10px;

    background-color: white;
    min-height:45px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    padding: 10px;
    padding-left: 20px;
    position: relative;
}

.question {
    font-family: 'Open Sans', sans-serif;
    width: calc(100% - 60px);
    word-wrap: break-word;
    min-height: 45px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.4;
}

.answer {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(71, 70, 70);
    font-size: 16px;
    display: none;
    line-height: 1.4;
}

#openAnswerBtn {
    position: absolute;
    right: 10px;
    width: 24px;
    top: 20px;
}

#selectedQuestion .answer {
    display: block;
}

#selectedQuestion #openAnswerBtn {
    display: none;
}

.faqColumns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--textColor);
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    border-radius: 10px;

}

.faqColumn {
    width: 100%; /* On mobile, each column takes full width */
    box-sizing: border-box;
    padding:0; /* Optional padding for better spacing on mobile */
}

@media only screen and (max-width: 800px) {
    #faqTitle {
        font-size: 40px;
    }

    .question {
        font-size: 14px;
    }

    .answer {
        font-size: 14px;
    }
    #faqSection {
        padding: 0 50px ;
    }
}
@media (min-width: 768px) {
    .faqColumn {
        width: 48%; /* On larger screens, each column takes almost half the width */
        padding: 0; /* Remove the mobile padding on larger screens */
    }
}