#faqSection{
    padding-top: 50px;
    padding-bottom: 50px;
}
#faqSection h1{
    font-size: 36px;
    color: red;
    text-align: center;
    padding-bottom: 50px;
}

.faq-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .faq-item {
    margin: 10px 0;
  }
  
  .question {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow.open {
    transform: rotate(135deg);
  }
  
  .answer {
    /* padding: 10px; */
    margin-top: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .answer.open {
    padding: 10px;
    transition: all 0.3s ease-in-out;

    max-height: 100px; /* Adjust this value based on the content's height */
  }
  
  @media (max-width: 768px) {
    .faq-container {
      width: 95%;
    }
  
    .question, .answer {
      font-size: 14px;
    }
  }
  