

/* footer section ======================================================================= */
footer{
  font-family: var(--fontMain);

  padding: var(--medium-spacing) 350px;
    /* background-color: rgb(235, 231, 231); */
    background-color: rgb(255, 255, 255);
}
#copyWrite{
  padding-top: 25px;
  margin-bottom: -25px;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.425);
  font-size: var(--fs-sx);

}
#footer{
   border-bottom: rgba(0, 0, 0, 0.182) solid 2px;
    display: flex;
    padding-bottom: 20px;
}
.footerSections{
  flex: 1 32%;
}
/* Left side of footer */
#leftFooter{
  display: flex;
}
#footerLogo{
  width: 75px;
  height: 75px;
  padding-right: 20px;
  background-image: url("../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter:invert(100);
}
#logoWords{
  padding-left: 20px;
  border-left: black solid 1px;
  height: fit-content;

}
#logoWords h5{
  font-size: var(--fs-ptag);
  text-transform: capitalize;
  font-weight: 400;
}
#logoWords p{
  text-transform: capitalize;
  font-weight: 300;
  font-size: var(--fs-sx);
}
/* mid side of footer */
#midFooter{
  padding-left: 100px;
  color: rgba(0, 0, 0, 0.425);
  text-align: center;
  font-size: var(--fs-sx);
}
#midFooter > div{
  padding-bottom: 25px;
}
/* right side of footer */
#rightFooter{
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightFooter > div{
  flex: 1 1 100%;
}
/* btn */
#contactBtn{
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;

}
#contactBtn p{
  background-color: #001566;
  width: 175px;
    padding: 15px 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
#contactBtn p span{
  margin-left: 10px;
  /* border: white 2px solid; */
  border-radius: 100%;
  padding: 4.5px 5px;
}
/* Social icons */
#lab_social_icon_footer{
    display: flex;
    justify-content: end;
    padding-right: 20px;
  }
#lab_social_icon_footer .social{
    width: 35px;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-fb:hover {
    fill: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    fill: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    fill: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    fill: #f39c12;
  }



@media screen and (max-width: 768px) {
  footer{
    padding: 30px ;
    padding-top: 100px;
  }
  #copyWrite{
    font: 14px;

  
  }
  #footer{
    padding-bottom: 100px;
     border-bottom: rgba(0, 0, 0, 0.182) solid 2px;
      flex-wrap: wrap;
      flex-direction: column;

  }

  /* Left side of footer */
  #leftFooter{
    justify-content: center;
    margin-bottom: 30px;
  }
  #footerLogo{
    width: 50px;
    height: 50px;
  }
  #logoWords{
    padding-left: 15px;
    border-left: black solid 1px;
    height: fit-content;
  }
  #logoWords h5{
    font-size: 18px;
  }
  #logoWords p{
    font-size: 14px;
  }
  /* mid side of footer */
  #midFooter{
    text-align: center;
    padding-left: 0;
  }
  #midFooter > div{
    margin-bottom:0px;

  }
  /* right side of footer */
  #rightFooter{
    justify-content: center;

  }
  
  #rightFooter > div{
    flex: 1 1 100%;
  }
  /* btn */
  #contactBtn{
    justify-content: center;
    margin-bottom: 25px;
  }
  #contactBtn p{
    background-color: #001566;
    width: 175px;
      padding: 15px 8px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
  }
  #lab_social_icon_footer .social{
      width: 30px;
    }

  
}