/* form section ======================================================================= */
#formSection {
    padding-top: 80px;
    width: 100vw;
    background-color: #001566;
    scroll-margin: 80px;
}

#formTitleArea {
    width: 80%;
    margin-left: 10%;
    border-bottom: solid 1px white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#formTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 65px;
    /* max-width: 80vw; */
    text-align: center;
    line-height: 1.2;
}

#formSubTitle {
    width: 50%;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

#formArea {
    margin-top: 20px;
    margin-left: 8%;
}

@media only screen and (max-width: 1200px) {
    #formTitleArea {
        display: block;
        padding-bottom: 20px;
    }

    #formTitle {
        font-size: 45px;
    }

    #formSubTitle {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    #formArea {
        margin-top: 20px;
        margin-left: 0;
    }

    #googleForm {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    #formSection {
        padding-top: 40px;
    }

    #formTitle {
        font-size: 32px;
    }

    #formSubTitle {
        font-size: 14px;
        margin-top: 10px;
    }
}