/* form section ======================================================================= */
#formSection {
    padding-top: 80px;
    width: 100vw;
    background-color: #001566;
    scroll-margin: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

#formFlex {
    max-width: 900px;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#formInfo {
    width: calc(100% - 550px);
    height: 100%;
    /* background-color: red; */
    color: white;
}

#formInfoTitle {
    font-size: 32px;
    font-family: 'Space Grotesk', sans-serif;
}

#formInfoSub {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

.contactFlex {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#contactIcon {
    color: white;
    width: 32px;
}

.contact {
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

#formInputs {
    /* background-color: white; */
    height: 100%;
    width: 510px;
    margin-left: 40px;
}

.inputTitle {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    color: white;
}

.formInputArea {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.formInput {
    width: 98%;
    font-family: 'Space Grotesk', sans-serif;
}

#submitFormBtn {
    width: 100%;
    height: 40px;
    background-color: #056BAB;
    border: solid 1px #056BAB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
    margin-top: 40px;
}
