/* header ================================= */
#header {
    left: 15%;
    right: 15%;
    color: white;
    position: fixed;
    top: 0px;
    padding-top: 35px;
    z-index: 5;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#headerInner {
    height: 100%;
    padding-bottom: 10px;

    /* max-width: 1300px;
    width: 100%; */
    width: calc(90% - 0px);
    /* margin-left: 80px; */
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid rgba(255, 255, 255, 0.298) 1px;
}

#logoHeader {
    height: 70px;
    margin-right: 100px;
}

#headerBtnArea {
    display: flex;
    align-items: center;
    /* margin-left: 40px; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.headerBtn {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 40px;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

#actNowBtn {
    position: absolute;
    right: 0px;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: solid white 2px;
    /* background-color: #031d8789; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 800px;
    cursor: pointer;
}

#actNowBtn:hover {
    background-color: #031e87;
    background-color: #001566;
}

#menuBtn {
    width: 32px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    display: none;
}

.dropDownMenu {
    width: 100vw;
    background-color: white;
    position: fixed;
    top: -100%;
    left: 0px;
    z-index: 1;
    transition: all 0.2s ease-out;
}

/* #dropDownMenu {
    width: 100vw;
    height: 100%;
    background-color: red;
    position: fixed;
    top: -100%;
    left: 0px;
    z-index: 1;
} */

#dropDownMenuOpen {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#menuOptionArea {
    margin-top: 140px;
}

.menuOption {
    width: 80%;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border-bottom: solid 1px gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#actNowMenuBtn {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #001566;
    background-color: #031e87;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 800px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #header {
        left: 0%;
        right: 0%;

    }
    
    #headerBtnArea {
        display: none;
    }

    #actNowBtn {
        display: none;
    }

    #menuBtn {
        display: initial;
        padding-bottom: 25px;
    }
}