/* hero section ======================================================================= */
#heroSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* Title */
.heroContent {
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    font-family: 'Space Grotesk', sans-serif;

}
.heroContent h1{
    font-size: 5rem;
    
}
.heroContent p{
    font-size: 2rem;
    color: #ffffff8d;

}
/* Video */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603);
    /* Adjust the 0.5 value to make it darker or lighter */
    z-index: 0;
}
.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
}
.video-content h1{
    font-family: 'Space Grotesk', sans-serif;
        font-size: 75px;
    padding-bottom: 25px;
    text-transform: uppercase;

}
#logoHero{
    /* height: 500px; */
    width: 15%;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
}
.video-content p{
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.2;
    font-size: 35px;
    width: 35%;
    margin: auto;
}

/* Adjust styles for mobile responsiveness */
@media (max-width: 768px) {
    .video-content h1 {
        font-size: 1.5rem;
    }

    .video-content p {
        font-size: 1rem;
    }
}
