/* info section ======================================================================= */
#infoSection {
    padding: 0 200px;
    min-height: 70vh;
}

#infoSection .section {
    margin: auto;
    padding-bottom: 50px;
    padding-top: 0px;
}

#infoSection .container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

#infoSection .info {
    flex: 1;
    margin-right: 150px;
}


#infoSection .reversed .info {
    margin-left: 150px;
    margin-right: 0;
}
#infoSection .info h2 {
    font-family: 'Space Grotesk', sans-serif;

    margin: 0;
    padding: 0;
    font-size: 36px;
    color: var(--textColor);
    padding-bottom: 25px;

}

#infoSection .info p {
    font-size: 18px;

}

.infoImg  {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.infoImg  img{
    background: cover;
    width: 100%;
}

@media (max-width: 768px) {
    #infoSection .container {
        flex-direction: column;
    }

    #infoSection .info {
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    #infoSection {
        padding-top: 40px;
    }

    #infoTitle {
        font-size: 32px;
    }
}