/* info section ======================================================================= */
#infoSection {
    width: 100vw;
    min-height: 100vh;

}

#infoTitle {
    font-size: 4rem;
    text-align: center;
    padding-top: 100px;

}
#infoSection .section {
    max-width: 1200px;
    margin: auto;
}

#infoSection .container {
    display: flex;
    align-items: center;
    /* margin: 100px 0; */
}

#infoSection .info {
    flex: 1;
    margin-right: 20px;
}

#infoSection .info h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

#infoSection .info p {
    margin-top: 10px;
}

#infoSection img {
    width: 600px;
    height: 300px;
}

#infoSection .info .reversed .info {
    margin-left: 20px;
    margin-right: 0;
}

@media (max-width: 768px) {
    #infoSection .container {
        flex-direction: column;
    }

    #infoSection .info {
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    #infoSection {
        padding-top: 40px;
    }

    #infoTitle {
        font-size: 32px;
    }
}