.suggestedUser {
    width: 100%;
    border-radius: 12px;
    height: 55px;
    /* background-color: rgb(221, 231, 238); */
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgb(209, 219, 227);
}

.userCardImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.userCardName {
    margin-left: 10px;
    font-family: best-font;
    font-size: 14px;
}