#fullPostViewer {
    width: 100vw;
    height: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    background-color: black;
}

#closePostBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 11;
    cursor: pointer;
}

#fullPostVideo {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.muteBtnFullVideo {
    position: fixed;
    z-index: 6;
    top: 65px;
    right: 20px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 11;
    cursor: pointer;
}

.vidRowFade {
    position: absolute;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    /* background-color: red; */
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to bottom, rgba(243, 244, 245, 0), #14171a);
}

.fullVidLikeBtn {
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: white;
    z-index: 6;
}