@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --textColor: #001566;

}

#homePage {

}




/* alerts section ======================================================================= */
#alertsSection {
    position: relative;
    width: 100vw;
    min-height: 500px;
}
