@font-face {
    font-family: 'WorkSans';
    src: url('../../assets/Work_Sans/WorkSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../../assets/SourceSansPro/SourceSansPro-Light.ttf');
}
:root {
    --small-spacing: 16px;
    --medium-spacing: 48px;
    --large-spacing: 80px;
    
    --main-header-padding: 15px;
    --sub-header-padding: 10px;
    --paragraph-padding: 5px;
  }


/* HEADER ======================================================= */
#headerInitial {
    width: 100vw;
    height: 85px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-out;
}

#headerScrolled {
    width: 100vw;
    height: 85px;
    background-color: var(--blue);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-out;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

#headerLogo {
    height: 45px;
    margin-left: 40px;
    cursor: pointer;
}

#headerBtnArea {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 35px;
}

.headerBtn {
    margin-right: 20px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

#headerActNowBtn {
    position: absolute;
    right: 40px;
    height: 35px;
    width: 120px;
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    border-radius: 4px;
}

#headerScrolled #headerActNowBtn {
    background-color: white;
    color: var(--blue);
}

#menuBtn {
    width: 32px;
    top: 20px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    display: none;
    color: white;
}

.dropDownMenu {
    width: 100vw;
    background-color: white;
    position: fixed;
    top: -100%;
    left: 0px;
    z-index: 9;
    transition: all 0.2s ease-out;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

#dropDownMenuOpen {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
}

#menuOptionArea {
    margin-top: 120px;
}

.menuOption {
    width: 80%;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border-bottom: solid 1px gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#actNowMenuBtn {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #001566;
    background-color: #031e87;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 800px;
    cursor: pointer;
    margin-top: 30px;
}

@media only screen and (max-width: 650px) {
    #headerBtnArea {
        display: none;
    }

    #headerLogo {
        margin-left: 20px;
    }

    #headerActNowBtn {
        right: 75px;
        display: none;
    }

    #menuBtn {
        width: 32px;
        top: 26px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        display: initial;
    }
}

/* HERO SECTION ======================================================= */
#heroSection {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    overflow: hidden;
    /* margin-top: 85px; */
    /* position: relative; */
}

#heroFlex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    /* margin-top: 85px; */
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}

#heroArea {
    width: 95%;
    max-width: 900px;
    /* background-color: red; */
    /* height: calc(100% - 85px); */
    min-height: 400px;
    text-align: center;
    color: white;
}

#heroLogoFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.heroLogoLine {
    border-bottom: solid 1px white;
    width: 43%;
}

#heroLogo {
    height: 125px;
}

#heroText1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    margin-top: 10px;
}

#boldHeroText {
    background-color: transparent;
    color: white;
    font-weight: 600;
}

#heroBtnFlex {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#heroBtn {
    font-size: 18px;
    width: 180px;
    height: 45px;
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    border-radius: 4px;
}

#heroBtn:hover #actNowArrow {
    margin-left: 18px;
}

#actNowArrow {
    width: 20px;
    margin-left: 15px;
    transition: all 0.2s ease-out;
}

#heroMedia {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    #heroText1 {
        font-size: 35px;
    }

    #heroLogo {
        height: 95px;
    }

    #heroLogoFlex {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 800px) {
    #heroText1 {
        font-size: 32px;
    }

    #heroLogo {
        height: 95px;
    }

    .heroLogoLine {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    #heroLogoFlex {
        margin-top: 45px;
    }

    #heroText1 {
        font-size: 22px;
    }

    #heroLogo {
        height: 95px;
    }

    .heroLogoLine {
        border-color: transparent;
    }

    #heroBtn {
        height: 40px;
        width: 165px;
        font-size: 16px;
    }
}

/* SECTION 1 ======================================================= */
#section1 {
    background-color: #FFFFFF;
    width: 100vw;
    padding-top: var(--large-spacing);
    padding-bottom: var(--large-spacing);
        /* height: 100vh; */
}

#section1Flex {
    max-width: 1200px;
    margin: auto;
}

#section1Area {
    width: 95%;

}

#section1TopText {
    color: gray;
    font-size: 16px;
    font-family: 'WorkSans';
    font-weight: 500;
    text-transform: uppercase;
    /* margin-top: 80px; */
    /* text-decoration: solid 1px black; */
}

#section1HeaderText {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    font-family: 'WorkSans';
    text-transform: capitalize;
    line-height: 1.2;

}

#section1SubText {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8;

    font-size: 20px;
    font-weight: 300;
    font-family: 'SourceSansPro';
}

#section1ImgFlex {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

#section1ImgArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 95%;
    /* position: absolute;
    left: 260px; */
}

.section1Highlight {
    overflow: hidden;
    height: 250px;
    width: 32%;
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
    background-size: cover;
    position: relative;
}

.section1Highlight:nth-child(1) {
    background-image: url("https://www.roundrocktexas.gov/wp-content/uploads/2019/10/Downtown-Rain-Main-Street-Tower-Cloudy.jpg");
}

.section1Highlight:nth-child(2) {
    background-image: url("https://www.roundrocktexas.gov/wp-content/uploads/2021/06/06_21_AERIAL_TOWER_002.jpg");
}

.section1Highlight:nth-child(3) {
    background-image: url("https://goroundrock.com/wp-content/uploads/2020/08/IMG_676B0B92BE72-1-1024x768.jpg");
}

.highlightFade {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to top, rgba(243, 244, 245, 0) 0%, #14171ad1 80%);
}

.highlightTitle {
    text-transform: capitalize;
    color: white;
    font-family: 'WorkSans';
    padding: 20px;
    font-size: 24px;
}

.learnMoreHighlight {
    position: absolute;
    top: calc(100% - 45px);
    width: 100%;
    /* background-color: red; */
    height: 200px;
    transition: all 0.2s ease-out;
}

.highlightInfo {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'SourceSansPro';
    margin-top: 45px;
    font-size: 18px;

}

.learnMoreBtn {
    position: absolute;
    display: flex;
    align-items: center;
    right: 15px;
    bottom: 20px;
    /* width: 100%; */
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

#learnMoreIcon {
    width: 35px;
    margin-left: 10px;
    transition: all 0.2s ease-out;
}

.highlightBlur {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    position: relative;
}

#highlightOpen .highlightBlur {
    background-color: rgba(0, 0, 0, 0.6);
}

#highlightOpen .learnMoreHighlight {
    top: 20px;
}

#highlightOpen #learnMoreIcon {
    /* transform: rot(180deg); */
    rotate: 180deg;
}

@media only screen and (max-width: 940px) {
    .highlightTitle {
        color: white;
        font-family: 'Work Sans', sans-serif;
        padding: 20px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 825px) {
    #section1ImgFlex {
        margin-top: 45px;
    }

    #section1ImgArea {
        display: block;
    }

    .section1Highlight {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #section1TopText {
        color: gray;
        font-size: 22px;
        margin-top: 40px;
    }

    #section1HeaderText {
        margin-top: 10px;
        font-weight: 400;
        font-size: 32px;
        line-height: 45px;
    }

    #section1SubText {
        margin-top: 20px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 650px) {
    #section1TopText {
        color: gray;
        font-size: 22px;
        margin-top: 40px;
    }

    #section1HeaderText {
        margin-top: 10px;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
    }

    #section1SubText {
        margin-top: 10px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 550px) {
    #section1TopText {
        color: gray;
        font-size: 22px;
        margin-top: 40px;
    }

    #section1HeaderText {
        margin-top: 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }

    #section1SubText {
        margin-top: 10px;
        font-size: 18px;
    }
}

/* SECTION 2 ======================================================= */

#faqBox {
box-shadow: rgba(0, 0, 0, 0.157) 0px 0.602187px 0.602187px -1.08333px, rgba(0, 0, 0, 0.145) 0px 2.28853px 2.28853px -2.16667px, rgba(0, 0, 0, 0.086) 0px 10px 10px -3.25px;
}
