#modalBlur {
    /* backdrop-filter: blur(5px); */
    /* background-color: red; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 49;
    top: 0px;
    left: 0px;
}

#closePopUpBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 25px;
    top: 25px;
    cursor: pointer;
    z-index: 10;
}

#popUpBody {
    width: 90vw;
    max-width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.2s ease-in;

    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popUpContent h1{
    text-transform: capitalize;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: var(--fs-title);
    color: var(--blue);

}