:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(12rem, 1rem + 5vmin, 1rem);
  --gap: calc(var(--size) / 10);
  --duration: 15s;
  --scroll-start: 5%;
  --scroll-end1: calc(-105% - var(--gap));
  --scroll-end2: calc(-105% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

#outerContainerSup {
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  background: #e3e3e3;
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  background-color: white;
  justify-content: center;
}

#outerContainerSup h1 {
  text-align: center;
  color: var(--gray);
  font-size: var(--fs-subtitle);
  font-weight: var(--subtitle-fontWeight);
  font-family: var(--fontMain);


}

#outerContainerSup .slider {
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#outerContainerSup .slider::before,
#outerContainerSup .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

#outerContainerSup .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

#outerContainerSup .slider::before {
  left: 0;
  top: 0;
}

#outerContainerSup .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(200px * 28);
}

#outerContainerSup .slider .slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reverse */
#outerContainerSup #trackRevers {
  -webkit-animation: scroll2 35s linear infinite;
  animation: scroll2 35s linear infinite;
  animation-direction: reverse;
  width: calc(200px * 32);
}

/* turn black */
#bish2-4,
#bish2-15,
#bish2-20,
#bish1-9 {
  filter: invert(1);

}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 14));
    transform: translateX(calc(-200px * 14));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 14));
    transform: translateX(calc(-200px * 14));
  }
}

@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 16));
    transform: translateX(calc(-200px * 16));
  }
}

@keyframes scroll2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 16));
    transform: translateX(calc(-200px * 16));
  }
}